github "realm/realm-cocoa" "v3.0.2"
github "rs/SDWebImage" "4.3.0"
github "zhxnlai/ZLSwipeableViewSwift" "0.0.8"


binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/Fabric.json"
binary "https://raw.githubusercontent.com/Building42/Specs/master/Carthage/Crashlytics.json"